@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html {
  font-family: Inter, system-ui, sans-serif;
}

/* Hide native number input spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom Scrollbar Global */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #eff6ff; /* requested color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfdbfe; /* blue-200 for hover state so it's visible */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #eff6ff transparent;
}
